<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="kr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>조직도</title>
</head>
<body>
    <div th:each="team : ${teamList}">
        <div>
            <label>팀 이름: </label>
            <p th:text="${team.getName()}"></p>
            <label>팀장: </label>
            <p th:text="${team.getTeamLeader()?.getName()}">없음</p>
            <br>
            <div th:each="member : ${team.getMembers()}">
                <p th:text="${member.getName()}"></p>
            </div>

        </div>
        <hr>
    </div>
</body>
</html>