<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact search</title>
</head>
<body>
<p>연락처 리스트</p>
<label>키워드</label>
<form id="searchForm">

    <label for="search"></label>
    <input type="text" id="search"/>
    <button type="button" id="submit">검색</button>
</form>
<table>
    <thead>
    <tr>이름</tr>
    <tr>팀</tr>
    <tr>전화 번호</tr>
    <tr>사내 번호</tr>
    <tr>직책</tr>
    <tr>직급</tr>
    </thead>
    <tbody>
        <tr th:each="member : ${memberList}">
            <td th:text="${member.getName()}"></td>
            <td th:text="${member.getTeamName()}"></td>
            <td th:text="${member.getCellPhone()}"></td>
            <td th:text="${member.getBusinessCall()}"></td>
            <td th:text="${member.getDuty()}"></td>
            <td th:text="${member.getPosition()}"></td>
        </tr>
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script th:src="@{/search.js}"></script>
</body>
</html>